.profile {
  display: flex;
  gap: var(--md-margin);
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: var(--circle);
  border: solid 3px var(--accent-light);

  background-image: url(../../assets/images/defaultProfilePic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.personal {
  width: 100%;
  text-align: center;
  color: var(--accent-light);
}

.username {
  display: block;
  margin-bottom: var(--md-margin);
  font-weight: bold;
}

.personal-row {
  display: flex;
  justify-content: space-between;
  color: var(--accent-dark);
}

.email,
.city {
  font-style: italic;
  font-weight: bold;
}
