.profile {
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: var(--circle);
  border: solid 3px var(--accent-light);

  background-image: url(../../assets/images/defaultProfilePic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.personal {
  width: 100%;
  text-align: center;
  color: var(--accent-light);
}

.username {
  display: block;
  margin-bottom: var(--md-margin);
  font-weight: bold;
}

.personal-row {
  display: flex;
  justify-content: space-between;
  color: var(--accent-dark);
}

.email,
.city {
  font-style: italic;
  font-weight: bold;
}

.edit-title {
  color: var(--accent-dark);
  text-align: center;
  margin-bottom: var(--md-margin);
}

.available-list {
  width: 100%;
  display: flex;
  gap: var(--s-margin);
  flex-direction: column;
  align-items: flex-start;
}

.available {
  width: 100%;
  padding: var(--s-padding);
  border: solid 3px var(--danger);
  border-radius: var(--s-radius);

  color: var(--danger);
  font-size: var(--s);
  font-weight: bold;
}

.available.present {
  border-color: var(--success);
  color: var(--success);
}
