.profile {
  width: 100%;
  height: 100%;
  padding: var(--md-padding) 0;
  background-color: var(--main-light);

  display: flex;
  gap: var(--lg-margin);
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: var(--circle);
}

.personal {
  text-align: center;
  color: var(--accent-light);
}

.username {
  display: block;
  margin-bottom: var(--lg-margin);
  font-weight: bold;
}

.personal-row {
  display: flex;
  gap: var(--xxl);
  justify-content: space-between;
}

.email,
.city {
  font-style: italic;
  font-weight: bold;
}
