.register {
  display: flex;
  gap: var(--lg-margin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: var(--lg-margin);
  padding-bottom: var(--lg-padding);
}

.register-input {
  width: 100%;
  padding: var(--s-padding);

  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--accent-dark);
  outline: none;

  font-size: var(--lg);
}

.register-input::placeholder {
  font-size: var(--md);
  letter-spacing: 2px;
  opacity: 0.4;
}

.form-group {
  position: relative;
}

.form-group::after {
  content: attr(data-error);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110%;
  left: var(--s-padding);

  font-size: var(--s);
  color: red;
  opacity: 0;
}
