.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-dark);
  color: var(--accent-light);

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app button {
  width: 100%;
  padding: var(--md-padding);
}
