.login {
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: var(--lg-margin);
}

.login-input {
  width: 100%;
  padding: var(--s-padding);

  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--accent-dark);
  outline: none;

  font-size: var(--lg);
}

.login-input::placeholder {
  font-size: var(--md);
  letter-spacing: 2px;
  opacity: 0.4;
}

.form-group {
  position: relative;
  margin-bottom: var(--md-margin);
}

.form-group::after {
  content: attr(data-error);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110%;
  left: var(--s-padding);

  font-size: var(--s);
  color: red;
  opacity: 0;
}

.form-group.invalid::after {
  opacity: 1;
}

.login-error-message {
  display: none;
  font-size: var(--lg);
  color: red;
  text-align: center;
}

.login-error-message.invalid {
  display: block;
}
